body{
    font-family: Arial, Helvetica, sans-serif;  
}
.lableHeadline{
    font-size: large;
    text-align:center;
}
.errorKasten{
    color: red;
}
.infoKasten{
    color: green;
}

.SeiteFrage{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} 

.aktuelleSeite{
    text-align: top;
    color: red;
       
}

.aktuelleFrage{
    background-color: yellow;
}

  
